.nav{
 
    background-color: aquamarine;
    padding-left: 50%;
    padding-top: 3%;
    border: hsl(from color h s l);
    text-justify: auto;
}
.products{
    text-justify: auto;
    text-align: center;
}